<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
 <form action="/login" method="get">
    <table>
        <tr><td> First Name : </td><td><input type="text" name="fname"></td></tr>
        <tr><td> Last Name : </td><td><input type="text" name="lname"></td></tr>
        <tr><td> Username : </td><td><input type="email" name="uname"></td></tr>
        <tr><td> Password : </td><td><input type="password" name="pass"></td></tr>
        <tr><td><input type="submit"></td></tr>
        <tr><td><a href="/login"><input type="submit" value="Login"></a></td></tr>
    </table>
 </form>
</body>
</html>